@import "fonts";
@import "normalize";
@import "general";
@import "../sass/blocks/block";










// @media only screen and (max-width:768px) {

//   // .container{
//   //   padding: 0 40px;
//   // }

//   .site-header{
//     padding: 40px 0 ;
//   }

//   .navbar__link{
//     font-size: 12px;
//     line-height: 15px;
//   }

//   .hero__inner{
//     background-image: url("../images/hero-tablet-bg.jpg");
//     background-size: 100% 100%;
//   }

//   .hero__title{
//     font-size: 48px;
//     line-height: 48px;
//   }

//   .hero__text{
//     font-size: 15px;
//     line-height: 25px;
//   }
  
//   .hero__link{
//     font-size: 18px;
//     line-height: 25px;
//   }

//   .collection__inner{
//     padding: 56px;
//     background-image: url("../images/collection-tablet-bg.png");
//     background-size:100% ;
//   }

//   .collection__list{
//     flex-wrap: wrap;
//     align-items: flex-start;
//   }

//   .collection-item{
//     display: flex;
//     align-items: center;
//     max-width: 573px;
    
    
//   }
//   .collection-item + .collection-item{
//     margin-left: 0;
//     margin-top: 32px;
//   }

//   .collection-item__content{
//     margin-left: 35px;
//   }

//   .collection-item__title{
//     text-align: left;
//   }

//   .collection-item__text{
//     text-align: left;
//   }

//   .choose__content{
//     max-width: 360px;
//     padding-top: 56px;
//     margin-bottom: 70px;
//   }

//   .choose__title{
//     font-size: 32px;
//     line-height: 48px;
//   }

//   .choose__text{
//     font-size: 15px;
//     line-height: 25px;
//   }

//   .choose__list{
//     display: block;
//     max-width: 573px;
//     margin: 0 auto;
//   }

//   .choose-item{
//     position: relative;
//     margin-bottom: 24px;
//     padding: 41px 48px;
//   }

//   .choose-item::before{
//     position: absolute;
//     top:0;
//     bottom: 0;
//     width: 100%;
//     max-width: 55px;
//     height: 55px;
//     margin: auto 0;
//     background-size: 100% 100%;
//   }
  
//   .choose-item + .choose-item{
//     margin-left: 0;
//   }

//   .choose-item__wrapper{
//     width: 100%;
//     max-width: 344px;
//     margin-left: 111px;
//   }

//   .choose-item__title{
//     margin-bottom: 16px;
//     font-size: 24px;
//     line-height: 32px;
//     text-align: left;
//   }
//   .choose-item__text{
//     font-size: 15px;
//     line-height: 25px;
//     text-align: left;
//   }
// }



@media only screen and (max-width:576px) {

  .container{
    padding: 0 24px;
  }
  

  .site-header{
    padding: 24px 0;
  }

  .logo-pic{
    width: 163px;
    height: 18px;
  }
  .navbar{
    display: none;
  }

  .site-header__menu-btn{
    display: block;
  }

  .hero__inner{
    padding: 100px 24px;
    background-image: url("../images/hero-mobile-bg.jpg");
    background-size: 100%;
  }

  .hero__title{
    text-align: center;
    font-size: 40px;
    line-height: 40px;
  }

  .hero__text{
    text-align: center;
    font-size: 15px;
    line-height: 25px;
  }

  .hero__link{
    display: block;
    width: 217px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 25px;
  }


  .choose__list{
    display: block;

  }

  .choose-item{
    display: block;
    max-width: 279px;
    margin: 0 auto 24px;
    padding:72px 12px 48px  ;
  }

  .choose-item + .choose-item{
    margin: 0 auto;
    margin-bottom: 24px;
  }

  .choose-item::before{
    top:72px;
    left: 0;
    right: 0;
    display: block;
    width: 71px;
    height: 71px;
    margin: 0 auto 56px;
  }

  .choose-item__wrapper{
    width: 100%;
    max-width: 255px;
    margin: 0 auto;
    margin-top: 100px;
  }

  .choose-item__title{
    text-align: center;
  }

  .choose-item__text{
    text-align: center;
  }



}

@media only screen  and (min-width:577px) and (max-width:670px) {

  .navbar__link{
    font-size: 10px;
    line-height: 12px;
  }

  .choose-item{
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  .choose-item + .choose-item{
    margin: 0 auto;
    margin-bottom: 32px;
  }

  .choose-item__wrapper{
    width: 100%;
    max-width: 250px;
  }
  
}
