.hero__inner {
  padding: 177px 0 116px 85px;
  background-image: url("../images/hero-bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;

}
.hero__content {
  width: 100%;
  max-width: 493px;

}
.hero__title {
  margin: 0;
  margin-bottom: 32px;
  font-family: 'Fraunces 9pt';
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
}
.hero__decs {
 width: 100%;
 max-width: 444px;
}
.hero__text { 
  margin: 0;
  margin-bottom: 56px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.hero__link {
  display: inline-block;
  padding: 15px 31px;
  font-family: 'Fraunces 9pt';
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  color: #FEFCF7;
  background: #0E8784;
  border-radius: 6px;
  
}

@media only screen and (max-width:768px) {

  .container{
    padding: 0 40px;
  }


  .hero__inner{
    background-image: url("../images/hero-tablet-bg.jpg");
    background-size: 100% 100%;
  }

  .hero__title{
    font-size: 48px;
    line-height: 48px;
  }

  .hero__text{
    font-size: 15px;
    line-height: 25px;
  }
  
  .hero__link{
    font-size: 18px;
    line-height: 25px;
  }

  
}